<div class="row parentBox m-3 p-3">
    <div class="col-md-3 parentBox" style="margin-right: 95px;">
        <form [formGroup] = "userInfo">
            <div>
                <label for="usr"  class="mb-2">Name</label>
                <input type="text" class="form-control" formControlName = "name" required>
                <span class="text-danger" *ngIf = "userInfo.get('name').invalid && userInfo.get('name').touched && userInfo.get('name').errors.required"> Name is required</span>
            </div>
            
            <div class="mt-2">
                <label for="usr"  class="mb-2">Age</label>
                <input type="text" class="form-control" formControlName = "age" required>
                <span class="text-danger" *ngIf = "userInfo.get('age').invalid && userInfo.get('age').touched && userInfo.get('age').errors.required"> Name is required</span>
            </div>

            <div class="mb-2 mt-2">
                <label style=" margin-right: 10px;">
                  <input type="radio" value="Male" formControlName="gender" checked>
                    <span>male</span>
                </label>
                <label>
                  <input type="radio" value="Female" formControlName="gender">
                    <span>female</span>
                </label>
            </div>
            <div>
                <label for="usr" class="mb-2">Hobbies</label>
                <input type="text" class="form-control" formControlName = "hobbies"><button type="button" class="btn ml-3" (click) = "addHobbi('add')">+</button>

                <input type="text" class="form-control mb-3 mt-3" formControlName = "hobbies"><button type="button" class="btn ml-3" (click) = "addHobbi('remove')">-</button>
                <span class="text-danger" *ngIf = "userInfo.get('hobbies').invalid && userInfo.get('hobbies').touched && userInfo.get('hobbies').errors.required"> Name is required</span>
            </div>

            <div class="checkbox">
                <label>
                    <input type="checkbox" value="" formControlName = "checked">All the information is verified
                </label>
                <span class="text-danger" *ngIf = "userInfo.get('checked').invalid && userInfo.get('checked').touched && userInfo.get('checked').errors.required"> Name is required</span>

            </div>
            <div>
                <button type="button" class="btn" (click) = "onClickAdd()" [disabled] = "!isValid">Add</button>
                <button type="button" class="btn" (click) = "onClickReset()">Reset</button>
            </div>
        </form>
    </div>
    <div class="col-md-8 parentBox" *ngIf = "showtable">  
        <div>
            <input type="text" class="form-control" (change) = "search($event)" >
        </div>       
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Name</th>
              <th>Age</th>
              <th>Gender</th>
              <th>Hobbies</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor = "let user of userDtls; let i = index">
              <td>{{user.name}}</td>
              <td>{{user.age}}</td>
              <td>{{user.gender}}</td>
              <td>
                  <span *ngFor = 'let hobbie of user.hobbies'>
                      {{hobbie.name}} <br>
                  </span>
            </td>
              <td><a href="#" (click) = "delete(i)">Delete</a></td>
            </tr>
          </tbody>
        </table>
    </div>
</div>